@{
  Layout = "_Layout";
}

<h1 class="jumbotron text-center"> Registrar's Office </h1>
<button class="btn btn-default">@Html.ActionLink("See all students", "Index", "Students")</button>
<button class="btn btn-default">@Html.ActionLink("See all courses", "Index", "Courses")</button>
